<div class="skillsTemplate">

  <div class="boxImage">
    Developer<img class="toolkit" src="../images/icons/toolkit.png">ToolKit
  </div>

  <div class="circles">

    <div class="circle libraries">
      <img src="../images/grouped/libraries.png">
      <p>Javascript<br> Libraries</p>
    </div>

    <div class="circle frameworks">
      <img src="../images/grouped/frameworks.png">
      <p>Javascript<br> Frameworks</p>
    </div>

    <div class="circle styling">
      <img src="../images/grouped/styling.png">
      <p>Styling<br> Tools</p>
    </div>

    <div class="circle misc">
      <img src="../images/grouped/misc.png">
      <p>Miscellaneous<br> Tools</p>
    </div>
  </div>

  <div class="footer">
    <div class="footerLeft">
      <p> Kevin Mooney </p>
    </div>
    <div class="contact">
      <ul>
        <li><a href="https://github.com/kmooney517"><i class="fa fa-github-square fa-lg"></i></i></a></li>
        <li><a href="mailto:kmooney517@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a></li>
        <li><a href="https://twitter.com/kmooney0517"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://www.linkedin.com/in/kmooney517"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
      </ul>
    </div>
  </div>


</div>